.navbar{
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 129px;
}
.login{
  position: relative;
  display: flex;
  margin-top: 300px;
}
.sign{
  position: relative;
  display: flex;
  margin-top: 300px;
}