/* Calendar.module.css */

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  color: black;
}

.day {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  width: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.available {
  background-color: #d4edda;
  color: #155724;
}

.available:hover {
  background-color: #c3e6cb;
}

.unavailable {
  background-color: #f8d7da;
  color: #721c24;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  width: 400px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}



/* button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

.but1 {
  background-color: #28a745;
  color: #fff;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.but1:hover {
  background-color: #218838;
}

.but2 {
  background-color: #dc3545;
  color: #fff;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.but2:hover {
  background-color: #c82333;
}
