/* Footer.module.css */

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Part */
.part {
  flex: 1;
}

/* Logo */
.logo {
  width: 150px;
  height: auto;
}

/* Text justification */
.textJustify {
  text-align: justify;
}

/* Footer links */
.serviceClientLinks {
  list-style: none;
  padding: 0;
}

.footerLinks li {
  margin-bottom: 10px;
}

.footerLinks li a {
  text-decoration: none; /* Supprime la décoration du lien */
  color: #333; /* Couleur du texte du lien */
  transition: color 0.3s; /* Animation de transition pour la couleur du texte */
}

.footerLinks li a:hover {
  color: #00acee; /* Couleur du texte du lien au survol */
}

/* Social icons */
.socialIcons {
  list-style: none;
  padding: 0;
  display: flex;
}

.socialIcons li {
  margin-right: 10px;
}

/* Icon colors */
.facebook {
  color: #3b5998; /* Facebook blue */
}
.facebook:hover{
  color: #00acee;
}

.twitter {
  color: #00acee; /* Twitter blue */
}

.socialIcons{
  height: 20%;
  width: 20%;
}


.instagram:hover{
  color: deeppink;
}

.linkedin {
  color: #0077b5; /* LinkedIn blue */
}

.socialIcons li a {
  color: inherit; /* Couleur du lien héritée */
  transition: color 0.3s; /* Animation de transition pour la couleur du texte */
}

 li a:hover {
  color: #555; /* Couleur du texte du lien au survol */
}

/* Small horizontal rule */
.small {
  width: 50%;
  margin: 20px auto;
}

/* Footer */
.siteFooter {
  background-color: #ababab;
  padding: 50px 0;
}

/* Rows */
.row1,
.row2,
.row3,
.row4 {
  display: flex;
  justify-content: space-between;
}

/* Horizontal rule */
hr {
  border-top-color: #2d2c2c;
  opacity: 0.5;
}
/* Footer.module.css */

/* Icon colors */
.facebook,
.twitter,
.instagram,
.linkedin {
  font-size: 24px; /* Ajuste la taille des icônes */
}

