.siteFooter {
  display: inline-block;
  position: relative;
  width: 1520px;
  height: 430px;
}
.top{
  display: flex;
  position: relative;
  /* background-color: aqua; */
  width: 1520px;
  height: 300px;
}
.bottom{ display: flex;
  position: relative;
  /* background-color:chocolate; */
  width: 1520px;
  height: 130px;
}
.part1{
  /* background-color: blue; */
  width: 650px;
  height: 100%;
}
.logo{
  margin-left: -30px;
  width: 195px;
  height: 195px;
}
.textJustify{
  margin-top: -30px;
  margin-left: 10px;
  color: rgb(220, 214, 207);
}
h4{
  display: flex;
  font-size: 30px;
  justify-content: center;
  color:rgb(220, 214, 207); 
  
}
.part2{
  /* background-color: rgb(9, 255, 0); */
  width: 435px;
  height: 100%;
}
.links{
  display: block;
  margin-bottom: 30px;
  margin-left: 160px;
  color: beige;
}
.part3{
  /* background-color: rgb(255, 0, 191); */
  width: 435px;
  height: 100%;
}
.mail{
  color: beige;
  margin-left: 70px;
  font-size: 20px;

}
hr{
  width: 1300px;
  opacity: 0.5;
}
.copyrightText{
  margin-left: 10px;
  padding-top: 50px;
  color:beige;
}
.b1{
  /* background-color: aquamarine; */
  width: 1000px;
  height: 110px;
}

.footerLinks li {
  margin-bottom: 10px;
}

  .socialIcons a {
    margin-right: 20px;
  }

.socialIcons {
  margin-right: 20px;
  display: flex;
  font-size: 30px;
}

.socialIcons {
  color: #5b8bf4; 
}
.facebook:hover{
  color: #00acee;
}
.twitter:hover {
  color: #00acee; 
}
.instagram:hover{
  color: deeppink;
}
.linkedin:hover {
  color: #0077b5; 
}